/*
 * Empty Stylesheet file.
 */


.root {
    -fx-font-family: "Verdana";
    -fx-padding: 10;
    -fx-background-color: #53a9ee;
}

.height{
	-fx-pref-height: 50px;    
}

.width{
	-fx-pref-width: 100px;    
}

.h1 {
    -fx-font-family: "Verdana";
    -fx-font-size: 32px;
    -fx-text-fill: #eff5fb;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-family: "Verdana";
    -fx-font-size: 20px;
    -fx-text-fill: #4d4b44;
}

Text{	
	-fx-fill: #fff;
}

Label{    
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
}

.button {
    -fx-font-family: "Verdana";
    -fx-background-color: #457fb2;
    -fx-text-fill: white;
}

.longButton {
    -fx-font-family: "Verdana";
    -fx-text-fill: white;
    -fx-pref-width: 150px;    
}

.button:hover {
    -fx-font-family: "Verdana";
    -fx-background-color: #38393a;
    -fx-text-fill: white;
}

.adminButton:hover{
	-fx-background-color: #db002b;
}

.largeButton {
    -fx-font-family: "Verdana";
    -fx-pref-width: 300px;
    -fx-pref-height: 100px;
    -fx-font-size: 28px;
    -fx-background-color: white;
    -fx-text-fill: #5daef4;
    -fx-border-color: #dedede;
}

.menuButton {
    -fx-font-family: "Verdana";
    -fx-pref-width: 200px;
    -fx-background-color: white;
    -fx-text-fill: #5daef4;
    -fx-border-color: #dedede;
}

.largeButton:hover, .menuButton:hover{
	-fx-text-fill: #eff5fb;
	-fx-background-color: #53a9ee;
	-fx-border-color: white;
}

.table-view{
    -fx-border-color: #38393a;
    
}

.list-view{
    -fx-border-color: #38393a;
}

.table-view .column-header .label {
    -fx-text-fill: black;
}

.placeholder{
	-fx-text-fill: #53a9ee;
}

.table-row-cell:selected {
    -fx-background-color: #53a9ee;
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-background-color: #53a9ee;
    -fx-text-fill: white;
}

*:focused {
    -fx-focus-color: #5194ff;
}
